<%#---
layout: main
---#%>
<div class="flex">
    <img class="h-12 w-12 rounded-full" src=<%= site['env.html'].url %><%= item.authorPicture %> alt="author's picture">

    <div class="ml-2 flex justify-center flex-col">
        <p class="dark:text-gray-200"><%= item.authorName %></p>

        <div class="flex text-sm text-gray-500">
            <p><%= item.date %></p>

            <p class="mx-1">·</p>

            <p><%= Math.round(fileContent.length / 1500) %> min read</p>
        </div>
    </div>

    <div class="ml-auto flex justify-center flex-col">
        <a href="https://twitter.com/intent/tweet?text=“<%= item.title %>” by <%= item.authorName %>&url=<%= site['env.html'].url %><%= item.filePath %>"target="_blank" rel="noopener noreferrer">
            <i class="text-gray-500 hover:text-blue-500 fa-brands fa-twitter fa-xl"></i>
        </a>
    </div>
</div>

<article class="mt-8 prose mx-auto lg:prose-lg dark:prose-invert">
    <h1 class="text-center">“<%= item.title %>”</h1>
    
    <%- fileContent %> 
</article>